* {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(198, 198, 198, 0.7);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
